.enter{
    opacity: 0;
}

.enter-active{
    opacity: 1;
    transition: all 2s;
}
.enter-done{
    opacity: 1;
}

.exit{
    opacity: 1;
}

.exit-active{
    opacity: 0;
    transition: all 2s;
}

.exit-done{
    opacity: 0;
}